<template>
    <div>
        <h1>mobile Test22222222222</h1>
        <nuxt-link to="/test1" :prefetch="false">
            <h3>
                test1
            </h3>
        </nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "index.vue"
    }
</script>

<style scoped>

</style>