<template>
    <div>
        <header-mobile></header-mobile>

        <h1>mobile Test1111111111111111111</h1>
        <nuxt-link to="/test2" :prefetch="false">
            <h3>
                test2
            </h3>
        </nuxt-link>
    </div>
</template>

<script>
    import HeaderMobile from "./headerMobile";

    export default {
        name: "index.vue",
        components: {HeaderMobile}
    }
</script>

<style lang="scss" scoped src="~/assets/scss/gallery/gallery.scss"></style>
