<template>
    <div>
        <header class="header">
            <h1 class="header__logo">
                <a href="/">Car.ir</a>
            </h1>
            <div class="header__subtitle">
                <p class="header__subtitle__heading">امکانات اپلیکیشن<span>car.ir</span></p>
                <ol>
                    <li>لیست قیمت خودروها (بازار و کارخانه)</li>
                    <li>لیست قیمت لوازم‌ مصرفی و یدکی خودرو</li>
                    <li>مشخصات فنی تمامی خودروهای بازار ایران</li>
                    <li>اخبار و اطلاعیه های فروش خودروسازها</li>
                    <li>دریافت نوتیفیکیشن مهمترین اخبار و اطلاعیه‌های صنعت خودرو</li>
                    <li>امکان پرسش و پاسخ تخصص در زمینه تمامی خودرو‌ها</li>
                    <li>‌مقالات مهم و کاربردی خودرویی</li>
                </ol>
                <p>و... به زودی با امکانات بیشتر</p>
            </div>
        </header>
        <main class="os">
            <div class="os__item">
                <img class="os__item__logo" src="@/assets/img/android.svg" alt="اندروید">
                <div class="os__item__content">
                    <p>دانلود اپلیکیشن car.ir برای اندروید</p>
                </div>
                <div class="links">
                    <a :href="os['data_cafe-bazaar_link']" class="links__item" target="_blank">
                        <img class="links__item__logo" src="@/assets/img/cafe-bazaar.svg" alt="کافه بازار">
                        دانلود از کافه بازار
                    </a>
                    <a :href="os['data_google-play_link']" class="links__item" target="_blank">
                        <img class="links__item__logo" src="@/assets/img/google-play.svg" alt="گوگل پلی">
                        دانلود از گوگل پلی
                    </a>
                </div>
            </div>
            <div class="os__item">
                <img class="os__item__logo" src="@/assets/img/apple.svg" alt="IOS">
                <div class="os__item__content">
                    <p>دانلود اپلیکیشن car.ir برای IOS به زودی</p>
                    <small>برای اطلاع از زمان فعال شدن این قابلیت ثبت نام کنید</small>
                </div>

                <nuxt-link class="register" to="/profile">ثبت نام</nuxt-link>
                <!--<a class="register" href="/auth/register">ثبت نام</a>-->
            </div>
        </main>
    </div>

</template>

<script>
    export default {
        name: "AppPage",
        data() {
            return {
                os: [],
            }
        },

        activated() {
            // Call fetch again if last fetch more than 30 sec ago
            console.log('this.$fetchState.timestamp', this.$fetchState.timestamp)
            if (this.$fetchState.timestamp <= Date.now() - 30000) {
                this.$fetch()
            }
        },
        async fetch() {
            await this.$axios.$post('http://car.local/test-api').then(r => {
                console.log('qqthis.$fetchState.timestamp', Date.now() - this.$fetchState.timestamp)

                this.os = r;
            }).catch(err => {
                console.log('err', err)
            })
        },
        watch: {
            posts(val) {
                console.log('xxxxxxxxxx', val)
            }
        },
        // call fetch only on client-side
        // fetchOnServer: false,
        // css: [
        //     '~/assets/scss/app/app.scss'
        // ],
        head() {
            return {
                bodyAttrs: {
                    class: 'desktop'
                },
                htmlAttrs: {
                    dir: 'rtl'
                },
                // css: [
                //     '~/assets/scss/app/app.scss'
                // ],
            }
        }
    }
</script>
<style lang="scss" scoped src="~/assets/scss/app/app.scss"></style>

