@mixin borderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #393939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //height: 100vh;
    height: initial;
    width: 100%;
    @include borderbox;
    padding: 40px 0;

    &.mobile {
        height: calc(100vh - 70px);
    }

    .header, .os {
        width: 1000px;
        max-width: calc(100vw - 70px);

        &,
        * {
            display: flex;
            @include borderbox;
        }
    }
}

a, a:active, a:visited {
    text-decoration: none;
    color: white;
}