<template>
    <div>
        <h1>{{$route.params.id}}</h1>
    </div>
</template>

<script>
    export default {
        name: "gallery22"
    }
</script>
<style lang="scss" scoped src="~/assets/scss/gallery/gallery.scss"></style>
