<template>
    <div>
        <h1>Gallery Page</h1>
    </div>
</template>

<script>
    export default {
        name: "gallery"
    }
</script>
<style lang="scss" scoped src="~/assets/scss/gallery/gallery.scss"></style>
