@font-face {
    font-family: 'IR';
    font-display: auto;
    src: url('../../fonts/iransansweb.woff2') format('woff2');
}

@font-face {
    font-family: 'IB';
    font-display: auto;
    src: url('../../fonts/iransanswebbold.woff2') format('woff2');
}

@font-face {
    font-family: 'fontello';
    font-display: auto;
    src: url('../../fonts/fontello.woff2') format('woff2');
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

* {
    font-family: 'IR', serif;
}

.header {
    flex-direction: column;
    justify-content: center;

    &__logo {
        justify-content: center;
        margin-bottom: 65px;

        a {
            background: center center no-repeat url('../../img/logo__light.png');
            background-size: contain;
            width: 310px;
            height: 70px;
            text-indent: -9999px;
        }
    }

    &__subtitle {
        font-size: 16px;
        color: #c9c9c9;
        text-align: right;
        line-height: 33px;
        flex-direction: column;

        &__heading {
            color: #ffffff;
            margin-bottom: 10px;

            span {
                margin-right: 10px;
            }
        }

        ol {
            flex-direction: column;

            li {
                display: list-item;
                list-style: decimal inside;
            }
        }
    }
}

.os {
    margin-top: 50px;
    justify-content: space-between;

    &__item {
        flex-direction: column;
        align-items: center;
        width: 400px;

        &__logo {
            margin-bottom: 50px;
            width: 65px;
            height: 80px;
            object-fit: contain;
        }

        &__content {
            flex-direction: column;
            height: 75px;
            justify-content: space-around;

            p, small {
                justify-content: center;
                color: #ffffff;
            }

            p {
                font-size: 24px;
            }

            small {
                font-size: 16px;
            }
        }

        .register {
            border: 1px solid #ffffff;
            font-size: 23px;
            margin-top: 20px;
            border-radius: 5px;
            color: #ffffff;
            justify-content: center;
            align-items: center;
            height: 70px;
            width: 100%;
        }
    }

    .links {
        margin-top: 20px;
        justify-content: space-between;
        width: 100%;

        &__item {
            background: #ffffff;
            color: #424242;
            font-size: 17px;
            border-radius: 5px;
            width: 190px;
            height: 70px;
            align-items: center;

            &__logo {
                margin: 0 10px;
                width: 33px;
                height: 35px;
                object-fit: contain;
            }
        }
    }
}

//MOBILE

body {
    &.mobile {
        height: initial !important;
        padding: 20px 0;

        .header {
            width: 296px;

            &__logo {
                margin-bottom: 25px;

                a {
                    width: 140px;
                    height: 30px;
                }
            }

            &__subtitle {
                font-size: 10px;
                line-height: 22px;
            }
        }

        .os {
            flex-direction: column;
            margin-top: 0;

            &__item {
                margin-top: 20px;
                width: 100%;

                &__logo {
                    width: 35px;
                    height: 45px;
                    margin-bottom: 20px;
                }

                &__content {
                    height: 50px;
                    justify-content: space-between;

                    p {
                        font-size: 15px;
                    }

                    small {
                        font-size: 10px;
                    }
                }

                .register {
                    font-size: 16px;
                    margin-top: 20px;
                    height: 45px;
                    width: 296px;
                }
            }

            .links {
                margin: 20px -8px 0;
                justify-content: space-between;
                width: 296px;

                &__item {
                    font-size: 14px;
                    width: 140px;
                    height: 45px;
                    margin: 0 8px;

                    &__logo {
                        margin: 0 5px;
                        width: 20px;
                        height: 23px;
                    }
                }
            }
        }

        @media screen and (max-width: 359px) {
            .links {
                &__item {
                    font-size: 12px;
                    width: 120px;
                }
            }
        }
    }
}
