@font-face {
    font-family: 'IR';
    font-display: auto;
    src: url('../../fonts/iransansweb.woff2') format('woff2');
}

body {
    background: green !important;

}

@font-face {
    font-family: 'IB';
    font-display: auto;
    src: url('../../fonts/iransanswebbold.woff2') format('woff2');
}
