<template>
    <div>
        <header-desktop></header-desktop>

        <h1>desktop Test1</h1>
        <nuxt-link to="/test2" :prefetch="false">
            <h3>
                test2
            </h3>
        </nuxt-link>
    </div>
</template>

<script>
    import HeaderDesktop from "./headerDesktop";

    export default {
        layout: 'default2',
        name: "index",
        components: {HeaderDesktop}
    }
</script>

<style lang="scss" scoped src="~/assets/scss/gallery/gallery.scss"></style>
