<template>
    <div>
        <h1>Profile Page</h1>

        <nuxt-link to="/app">
            <h3>
                app page
            </h3>
        </nuxt-link>
        <br>
        <hr>
        <br>
        <nuxt-link to="/gallery" :prefetch="false">
            <h3>
                gallery page
            </h3>
        </nuxt-link>
        <h4>{{counter}}x</h4>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "profile",
        computed: mapState([
            'counter'
        ]),
        head: {
            link: [
                // {rel: 'stylesheet', href: '~/assets/scss/app/app.scss'}
            ],
            css: [
                // '@/scss/app/app.scss'
            ],
        },
        created() {
            /* setInterval(() => {
                 this.$store.dispatch('increment')
                 console.log(this.$store.state)
             }, 1000)*/
            console.log(this.$device.isMobile)

        }

    }
</script>
